html{
    scroll-behavior: smooth;
    background-color: 	#e54d42;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
}

a{
    color:#3a99d9;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #ecf0f1;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
}

nav a{
    text-decoration: none;
    color: 	#3a99d9;
}

main{
    margin: auto;
}

#about{
    background-color:#2c3e4f;
    color: white;
    align-items: center;
}

.fotoDePerfil{
    display: flex;
    justify-content: center;
}

.fotoDePerfil img{
    border-radius: 50%;
}


#projects{
    color:white;
}

.project{
    background-color: #ecf0f1;
    border-radius: 5px;
    border: #2c3e4f 1px solid;
    box-shadow: 0 0 16px 0px #2c3e4f;
    color: #2c3e4f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.project img{
    border-top: 1px solid #2c3e4f;
    border-bottom: 1px solid #2c3e4f;
}

footer{
    background-color: #ecf0f1;
    display: flex;
    width: 100%;
    flex-direction: row;     
    justify-content: space-evenly;
    align-items: center;
}

footer div{
    display: flex;
    justify-content: center;
}

footer div img{
    margin: 0;
}



/*MOVIL*/
@media screen and (max-width: 733px) {

    nav{
        font-size: 20px;
        padding-left: 20px;
    }

    nav ul li{
        margin-right: 20px;
    }

    #about{
        padding-top: 25px;
        padding-bottom: 7px;
        display: flex;
        flex-direction: column;
    }

    .presentacion{
        font-size: 25px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .fotoDePerfil img{
        width: 60%;
    }

    #projects{
        margin-bottom: 80px;
        padding: 25px;
        font-size: 22px;
    }

    .container{
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #projects h2{
        text-align: center;
    }

    #projects img{
        width: 100%;
    }

    .project{
        margin-bottom: 35px;
        width: 100%;
    }

    .projectInfo{
        padding-left: 20px;
        padding-right: 20px;
    }

    footer{
        font-size: 1.3em;
        height: 80px;
    }

    footer img{
        width: 55px;
    }
}
/*ORDENADOR*/
@media screen and (min-width: 734px) {

    nav{
        padding-left: 35px;
        font-size: 25px;
    }

    nav ul li{
        margin-right: 20px;
    }

    #about{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.3em;
        padding: 30px;
    }

    .fotoDePerfil{
        flex-grow: 3;
    }
    
    .fotoDePerfil img{
        width: 400px;
    }

    .presentacion{
        padding-right: 10%;
        padding-left: 5%;
        width: 40%;
        font-size: 28px;
        flex-grow: 1;
    }

    #projects{
        padding: 30px;
        margin-bottom: 80px;
    }

    #projects h2{
        text-align: center;
    }

    #projects img{
        width: 425px
    }

    .container{
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .project{
        width: 425px;
    }

    .projectInfo{
        padding-left: 20px;
        padding-right: 20px;
    }

    footer{
        font-size: 1.3em;
        height: 80px;
    }

    footer img{
        width: 50px;
    }

}